.header_wrap {
  font-family: AbeeZee;
  height: 34px;
  background: #D1D1D1;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  color: #5E5E5E;
}
.telephone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 156px;
  height: 34px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 165px;
  height: 34px;
}
.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 152px;
  height: 34px;
}
.time-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 372px;
  height: 34px;
}
.menu_c {
  background-color: white;
}
.stick_header {
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Raleway;
  align-items: center;
  margin: auto;
}
.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 295px;
  width: 100%;
  height: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #2C2C2C;
  align-items: center;
  padding-left: 31.5px;
}
.bakery {
  font-family: Courgette;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 80px;
  display: flex;
  align-items: center;
  color: #CF8D2E;
}
.menu_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 31.5px;
  min-width: 76px;
  max-width: 133px;
  width: 100%;
}
.menu_a1 {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.menu_a1:hover {
  color: black;
  cursor: pointer;
}
.wrap_menu_icons {
  min-width: 76px;
  max-width: 295px;
  width: 100%;
}
.wrap_submenu {
  max-width: 295px;
  min-width: 108px;
  width: 100%;
}
.dropdown ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.dropdown1 ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.dropbtn1 {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
}
.dropbtn {
  background: url("../../public/images/menubar.svg") no-repeat center center;
  height: 15px;
  width: 21px;
  border: none;
  outline: none;
  color: white;
  padding: 19px 16px;
  background-color: inherit;
}
.dropdown-content a,
.dropdown-content1 a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.8em;
  font-size: 80%;
  letter-spacing: 2px;
  position: relative;
}
.dropdown-content,
.dropdown-content1 {
  vertical-align: top;
  display: inline-block;
  box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
  border-radius: 6px;
}
.dropdown-content li,
.dropdown-content1 li {
  position: relative;
  list-style: none;
}
.dropdown-content > li,
.dropdown-content1 > li {
  *display: inline;
  /*IE7*/
  *zoom: 1;
  /*IE7*/
  margin-right: 1px;
}
.dropdown-content ul,
.dropdown-content1 ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
  background-color: #f9f9f9;
  margin: 0 0 0 1.5em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content > li:hover > ul,
.dropdown-content1 > li:hover > ul {
  left: 70%;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  top: -1px;
}
.dropdown-content > li li:hover > ul,
.dropdown-content1 > li li:hover > ul {
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.dropdown-content > li > a:first-child:nth-last-child(2):before,
.dropdown-content1 > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.dropdown-content > li:hover > a:first-child:nth-last-child(2):before,
.dropdown-content1 > li > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  margin-top: -5px;
}
.dropdown-content li li > a:first-child:nth-last-child(2):before,
.dropdown-content1 li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px;
}
.dropdown-content li li:hover > a:first-child:nth-last-child(2):before,
.dropdown-content1 li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  right: 10px;
}
.dropdown-content,
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a,
.dropdown-content1 a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover,
.dropdown-content1 a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content,
.dropdown1:hover .dropdown-content1 {
  display: block;
}
.bef_h {
  height: 122px;
}
@media (max-width: 992px) {
  .menu,
  .bef_h {
    height: 71px;
  }
  .menu_icons {
    padding: 0;
    max-width: 76px;
    width: 100%;
  }
  .submenu {
    padding: 0;
  }
  .header_wrap {
    display: none;
  }
  .bakery {
    font-size: 48px;
  }
  .submenu {
    max-width: 76px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .dropdown {
    display: none;
  }
  .phone {
    display: none;
  }
}
@media (max-width: 768px) {
  .dropbtn1 {
    display: none;
  }
  .dropdown1 {
    display: none;
  }
  .menu_a1 {
    display: none;
  }
}
@media (max-width: 440px) {
  .bakery {
    font-size: 24px;
  }
  .menu,
  .bef_h {
    height: 41px;
  }
}

