body {
  background: #FFFFFF;
}
.title {
  display: flex;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  max-width: 650px;
  width: 100%;
}
.title h1 {
  font-family: 'Caveat', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 81px;
  text-align: center;
  align-items: center;
  color: #000000;
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  width: 100%;
}
.col {
  padding: 10px;
}
.row {
  padding-left: 10px;
}
.column_title {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #5E5E5E;
}
.column_text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}
.column_text2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 10px;
  color: #000000;
}
#count {
  border: none;
  background-color: transparent;
  width: 20px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.prod_text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.plus_minus {
  margin: 10px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.add_count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.add_count_wrap {
  align-items: center;
}
.refr {
  margin-left: 5px;
}
.plus,
.minus {
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.cross {
  margin-left: 10px;
  border: none;
  height: 15px;
  width: 15px;
}
.title_line {
  margin-top: 0;
  border: 1px solid #000000;
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 00px;
}
.checkout-button {
  max-width: 400px;
  height: 39px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}
#basket {
  margin-left: 20px;
  margin-right: 46px;
}
@media (max-width: 585px) {
  .it {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
  }
  .names {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .quantity {
    display: none;
  }
  .it .row {
    margin: auto;
  }
  .not_n {
    display: none;
  }
  #count {
    font-size: 14px;
  }
  .prod_text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .column_text,
  .column_title,
  .column_text2,
  .checkout-button {
    font-size: 14px;
  }
  .checkout-button {
    max-width: 200px;
  }
}

